.Error--Container {
    text-align: left;
}
  
.Error--Background {
    background-color: #282c34;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}