body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.infoBox {
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  background-color: red;
  position: absolute;
}
