<!DOCTYPE html>
<html lang="en">
<head>
    <title>P&B UI by RCV - Simple</title>

    <link href="./style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">
</head>
<body>
<div id="overlay">
    <img src="overlay.png" alt="overlay" style="z-index: 100;" />
    <img src="underlay.png" alt="underlay" style="z-index: -100;" />

    <div id="bar">
        <div class="blue text flex-vcenter">
            <span class="big-text" id="blue_name">TEAM 1</span>
        </div>
        <div class="blue timer flex-vcenter">
            <span class="big-text" id="blue_timer">:00</span>
        </div>
        <div class="middle">
            <div class="top flex-vcenter">
                <span class="score-text" id="score">0 - 0</span>
            </div>
            <div class="bot flex-vcenter">
                <span class="phase-text" id="phase">PICK PHASE 2</span>
            </div>
        </div>
        <div class="red timer flex-vcenter">
            <span class="big-text" id="red_timer">:00</span>
        </div>
        <div class="red text flex-vcenter">
            <span class="big-text" id="red_name">TEAM 2</span>
        </div>
    </div>

    <div class="picks blue" id="picks_blue"></div>
    <div class="picks red" id="picks_red"></div>

    <div class="bans blue" id="bans_blue"></div>
    <div class="bans red" id="bans_red"></div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="../../frontend/frontend-lib.js"></script>
<script src="./script.js"></script>
</body>
</html>
