@font-face {
  font-family: Amarello;
  src: url("../../assets/fonts/ProximaNova-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: Amarello;
  src: url("../../assets/fonts/ProximaNova-Regular.otf");
  font-weight: regular;
}