@font-face {
  font-family: Amarello;
  src: url("../../assets/fonts/thesansb/TheSansBW9Black.OTF");
  font-weight: bold;
}

@font-face {
  font-family: Amarello;
  src: url("../../assets/fonts/thesansb/TheSansBW7Bold.OTF");
  font-weight: regular;
}