.Team {
  position: absolute;
  width: var(--box-team-width);
  height: var(--box-height);

  bottom: var(--champselect-margin-bot);

  .TeamName {
    font-size: 35px;
    color: black;
    // font-family: 'Saira Condensed', sans-serif;
    margin-top: 6px;
    font-weight: bold;

    &.WithoutCoaches {
      font-size: 60px;
      margin-top: -20px;
    }
  }

  .CoachName {
    font-size: 20px;
    margin-top: -4px;
    font-weight: normal;
  }

  .TeamScore {
    font-size: 40px;
    margin-top: -4px;
    padding-top: 18px;
    color: black;
    // font-family: 'A', sans-serif;
    width: calc(var(--box-ban-height) + 20px);
    text-align: center;
    height: calc(100% + 23px);
    font-weight: bold;
  }

  @import "./picks";
  @import "./bans";

  &.TeamBlue {
    right: calc(50% + calc(var(--box-width) / 2));

    .TeamScore {
      border-right: 2px solid black;
    }

    .Bans {
      justify-content: flex-end;
      background-color: var(--color-blue);
      border: solid var(--color-blue) var(--border-width);
      float: right;

      .Ban {
        border-left: solid var(--color-blue) var(--border-width);

        .BanImage.Active::before {
          background-image: linear-gradient(to left, var(--color-green-animation) 0%, rgba(0, 0, 0, 0) 50%, var(--color-green-animation) 100%);
        }
      }
    }

    .Picks {
      .Pick {
        .PickImage.Active::before {
          background-image: linear-gradient(to left, var(--color-green-animation) 0%, rgba(0, 0, 0, 0) 50%, var(--color-green-animation) 100%);
        }
      }
    }

    .TeamName {
      margin-right: auto;
      margin-left: 15px;
    }
  }

  &.TeamRed {
    left: calc(50% + calc(var(--box-width) / 2));

    .TeamScore {
      border-left: 2px solid black;
    }

    .Bans {
      background-color: var(--color-red);
      border: solid var(--color-red) var(--border-width);
      float: left;

      .Ban {
        border-right: solid var(--color-red) var(--border-width);

        .BanImage.Active::before {
          background-image: linear-gradient(to left, var(--color-green-animation) 0%, rgba(0, 0, 0, 0) 50%, var(--color-green-animation) 100%);
        }
      }
    }

    .Picks {
      .Pick {
        .PickImage.Active::before {
          background-image: linear-gradient(to left, var(--color-green-animation) 0%, rgba(0, 0, 0, 0) 50%, var(--color-green-animation) 100%);
        }
      }
    }

    .TeamName {
      margin-left: auto;
      text-align: right;
      margin-right: 15px;
    }
  }
}
