body {
    background: black;
    font-family: 'Nova Flat', sans-serif;

    background-color: black;
    /* background: url("https://dotesports-media.nyc3.cdn.digitaloceanspaces.com/wp-content/uploads/2019/06/14131635/LEC-Summer-2019.jpg"); */
    background-size: cover;
}

* {
    box-sizing: border-box;
}

:root {
    --box-width: 160px;
    --box-height: calc(var(--box-pick-height) + var(--box-ban-height));
    --box-logo-height: calc(100% - calc(var(--box-ban-height) + var(--box-patch-height)));
    --box-timer-height: var(--box-ban-height);
    --box-patch-height: 40px;

    --box-team-width: calc(5 * var(--box-width));
    --box-pick-height: 260px;
    --box-ban-height: 60px;
    --box-ban-spacer: calc(var(--box-ban-height) / 2);

    --pick-name-height: 30px;
    --pick-image-crop: 8px;

    --ban-image-crop: 6px;
    --summoner-spell-size: 40px;

    --champselect-margin-bot: 50px;

    --color-red: rgb(222,40,70);
    --color-blue: rgb(0,151,196);
    --color-red-bg: rgba(222,40,70,0.3);
    --color-blue-bg: rgba(0,151,196,0.3);

    --border-between-color: darkgray;
    --border-width: 3px;
}

.Europe .MiddleBox {
    position: absolute;
    color: white;
    background-color: black;
    width: var(--box-width);
    height: calc(var(--box-pick-height) + var(--box-ban-height));

    bottom: var(--champselect-margin-bot);
    left: 50%;
    transform: translateX(-50%);
}

.Europe .Patch {
    height: var(--box-patch-height);
    font-size: 26px;
    text-align: center;
    color: white;
    border-left: darkgrey 1px solid;
    border-right: darkgrey 1px solid;
}

.Europe .Logo {
    width: 100%;
    height: var(--box-logo-height);
    border-left: darkgrey 1px solid;
    border-right: darkgrey 1px solid;
}
.Europe .Logo img {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding-top: 10%;
    display: block;
    object-fit: contain;
}

.Europe .Timer {
    position: relative;
    width: 100%;
    height: var(--box-timer-height);
    font-size: 50px;
    text-align: center;
}
.Europe .Timer .Background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: left 1s;
}
.Europe .Timer .Background.Blue {
    background: linear-gradient(to left, black 0%, var(--color-blue) 100%);
    left: -100%;
}
.Europe .Blue .Background.Blue {
    left: 0;
}
.Europe .Timer .Background.Red {
    background: linear-gradient(to right, black 0%, var(--color-red) 100%);
    left: 100%;
}
.Europe .Red .Background.Red {
    left: 0;
}

.Europe .Timer .TimerChars {
    display: flex;
    justify-content: center;
}
.Europe .Timer .TimerChar {
    width: 30px;
    text-align: right;
}
.Europe .Timer .TimerChar:nth-child(2) {
    text-align: left;
}
/* .Europe .Timer.Red {
    background: linear-gradient(to right, black 0%, var(--color-red) 100%);
} */
/* .Europe .Timer.Blue {
    background: linear-gradient(to left, black 0%, var(--color-blue) 100%);
} */
/* .Europe .Timer::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    /* background: green;
    /* opacity: 0;
    transition: left 1s;
    z-index: -1;
}
.Europe .Timer.Blue::before {
    opacity: 1;
    left: 0;
    background: linear-gradient(to left, black 0%, var(--color-blue) 100%);
}
.Europe .Timer.Red::before {
    opacity: 1;
    background: linear-gradient(to right, black 0%, var(--color-red) 100%);
} */
.Europe .Timer.Both {
    background: linear-gradient(to right, var(--color-blue) 0%, var(--color-red) 100%)
}

.Europe .Team {
    position: absolute;
    width: var(--box-team-width);
    height: var(--box-height);

    bottom: var(--champselect-margin-bot);
}

.Europe .Picks {
    width: 100%;
    height: var(--box-pick-height);
    display: flex;
    box-sizing: border-box;
}

.Europe .Bans {
    width: 100%;
    height: var(--box-ban-height);
    display: flex;
    box-sizing: border-box;
}
.Europe .Bans.WithScore {
    width: calc(100% - var(--box-ban-height) - 3px);
}
.Europe .TeamBlue .Bans {
    justify-content: flex-end;
    background-color: var(--color-blue);
    border: solid var(--color-blue) var(--border-width);
    float: right;
}
.Europe .TeamRed .Bans {
    background-color: var(--color-red);
    border: solid var(--color-red) var(--border-width);
    float: left;
}

.Europe .Pick {
    position: relative;
    width: 20%;
    height: 100%;
    overflow: hidden;
    border-left: solid var(--border-between-color) 1px;
}
.Europe .Pick:first-child {
    border: none;
}

.Europe .Pick .SummonerSpells {
    position: absolute;
    top: calc(var(--box-pick-height) - 30px - var(--summoner-spell-size));
    right: 0;
}
.Europe .Pick .SummonerSpells img {
    height: var(--summoner-spell-size);
    width: var(--summoner-spell-size);
}

.Europe .Ban {
    display: block;
    width: calc(var(--box-ban-height) - calc(2 * var(--border-width)));
    height: calc(var(--box-ban-height) - calc(2 * var(--border-width)));
    overflow: hidden;
}
.Europe .Ban img {
    width: calc(100% + calc(2 * var(--ban-image-crop)));
    height: 100%;
    object-fit: cover;
    object-position: calc(-1 * var(--ban-image-crop)) calc(-1 * var(--ban-image-crop) + 1px);
}
.Europe .TeamRed .Ban {
    border-left: solid var(--color-red) var(--border-width);
}
.Europe .TeamRed .Ban:first-child {
    border: none;
}
.Europe .TeamBlue .Ban {
    border-left: solid var(--color-blue) var(--border-width);
}
.Europe .TeamBlue .Ban:first-child {
    border: none;
}

.Europe .TeamBlue .Ban:nth-child(4) {
    margin-right: var(--box-ban-spacer);
}

.Europe .TeamRed .Ban:nth-child(3) {
    margin-right: var(--box-ban-spacer);
}

.Europe .TeamRed {
    left: calc(50% + calc(var(--box-width) / 2));
}
.Europe .TeamBlue .TeamName {
    margin-right: auto;
}
.Europe .TeamRed .TeamName {
    margin-left: auto;
}

.Europe .TeamBlue {
    right: calc(50% + calc(var(--box-width) / 2));
}

.Europe .TeamName {
    font-size: 40px;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    margin-top: -15px;
}
.Europe .TeamBlue .TeamName {
    margin-left: 15px;
}
.Europe .TeamRed .TeamName {
    text-align: right;
    margin-right: 15px;
}

.Europe .CoachName {
    font-size: 20px;
    margin-top: -20px;
}

.Europe .TeamScore {
    font-size: 55px;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    width: var(--box-ban-height);
    height: var(--box-ban-height);
}
.Europe .TeamScore div {
    margin-top: -13px;
    width: 100%;
    height: var(--box-ban-height);
    text-align: center;
}
.Europe .TeamBlue .TeamScore {
    background-color: var(--color-blue);
    float: right;
    margin-right: 3px;
}
.Europe .TeamRed .TeamScore {
    background-color: var(--color-red);
    float: left;
    margin-left: 3px;
}

.Europe .Pick .PickImage {
    height: calc(100% - var(--pick-name-height))
}

.Europe .Pick .PickImage img {
    width: calc(100% + calc(2 * var(--pick-image-crop)));
    height: 100%;
    object-fit: cover;
    object-position: calc(-1 * var(--pick-image-crop)) calc(-1 * var(--pick-image-crop));
}

.Europe .Pick .PlayerName {
    height: var(--pick-name-height);
    color: white;
    background-color: black;
    text-align: center;
    font-size: calc(0.5 * var(--pick-name-height));
    line-height: var(--pick-name-height);
}

